html, body {
	background: #17212b;
}
body {
	margin: 0;
}

h1 {
	color: #8CB6B0;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 5em;
	padding: 0;
	margin: 0;
}
h2 {
	color: #8CB6B0;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 1.8em;
	font-weight: lighter;
	padding: 0;
	margin: 0;
}

.red {
	color: #E91E63;
}
.blue {
	color: #0fd6b5;
}

.main-container {
	width: 1320px;
	margin: 0 auto;
}

.content {
	margin-top: 30px;
	display: flex;
	flex-wrap: wrap;
}

.content-text {
   flex: 1 0 50%;
}
.content-image {
   flex: 1 0 50%;
}
.content-about {
	margin-top: 50px;
	color: #ffffff;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
.content-abouttitle {
	font-size: 2em;
	color: #708499;
	font-weight: normal;
}
.content-abouttext {
	font-size: 1.8em;
	color: #abbdcf;
	font-weight: lighter;	
}
.content-button {
	margin-top: 50px;
}
.content-buttonwrapper {
	display: flex;
}
.content-buttonwrapper a img {
	
}
.content-button a img:hover {
	opacity: 0.7;
}
.content-button a {
	margin-right: 30px;
}